[submodule "themes/portfolio"]
	path = themes/portfolio
	url = https://github.com/HugoBlox/theme-portfolio.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile
